<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ambiente de Monitoramento por sala dos ar-condicionados</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>

   img:hover{
      background-image: url(images/vis.png);
      opacity: 0.5;
      transition: opacity 0.5s;
   }

</style>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Projeto PIBIC</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Serviços</a>
                    </li>
                    <li>
                        <a href="#">Suporte</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Relatório da Pesquisa</h1>
            </div>
        </div>
        <!-- /.row -->


      
        
        <pre style="width: 800px">
        <code style="font: 14px Arial">
                                          Instituto de Federal de Educação Ciência e Tecnologia da Paraíba
                                                                            (Campus Guarabira)

        ** de Agosto de 2015

        Resumo
        
        “texto baseado no Manual de Laboratório de Óptica Experimental, B. Buchweitz e P. H. Dionísio, IF-UFRGS, 1994”

        Um relatório deve ser redigido de tal forma que alguém que não presenciou o experimento fique informado, ao lê-lo, 
        do que foi feito, do que se obteve, das conclusões e das limitações do experimento. Basicamente, um relatório deve 
        conter os itens listados na tabela abaixo, mas obviamente o aluno deverá julgar, em cada caso, da conveniência de 
        incluir todos os itens ou não, de reordená-los ou reagrupá-los.

        Um bom relatório será conciso. Não gaste espaço com coisas irrelevantes.

        Não copie o livro texto nem o roteiro. Evite considerações que nada tem a ver com o experimento realizado. 
        Não se sinta na obrigação de tecer comentários brilhantes ou atingir conclusões estrondosas! Estabeleça conclusões 
        a partir de suas observações e da análise dos dados obtidos no experimento.

        1 Introdução

        Onde se diz a que se propõe a experiência. • Por que realizá-la?

        • Qual o fenômeno em estudo?

        • Que informações ou conhecimentos a respeito do fenômeno ou do sistema em estudo pretendemos obter?

        • Que questões, basicamente, estaremos tentando responder?

        2 Exposição Teórica

        Onde se expõem os conhecimentos teóricos necessários à compreensão, tratamento e/ou análise do experimento e 
        aos dados e resultados obtidos.

        • Quais as definições utilizadas?

        • Quais os conceitos envolvidos?

        • Quais as leis, as relações entre grandezas ou princípios?

        OBS.: este item pode ser suprimido quando o assunto for elementar ou tratado detalhadamente no roteiro.

        3 Procedimento Experimental

        • Descrição da aparelhagem a ser utilizada.

        • Descrição da montagem, do método e do procedimento a ser seguido na obtenção das medidas.

        4 Resultados

        • Exposição dos dados obtidos a partir das medidas, sob forma de médias, desvio padrão, 
          tabelas, gráficos, etc., convenientemente organizados de modo a facilitarem sua análise.

        • Relato de coisas relevantes que ocorreram no decorrer do experimento, de detalhes do 
          procedimento prático, de providencias importantes que o grupo tomou, de eventuais observações 
          à margem do procedimento.

        5 Análise dos Dados

        Discussão sobre a precisão, a validade, as possíveis causas de erro, algarismos significativos, 
        uso da estatística, etc.

        6 Conclusões O que pode ser concluído a partir da análise dos dados.
        </code>
    </pre>
        <form>
            <textarea style="margin-left: 500px" cols="30" rows="20">
                
            </textarea>
        </form>

          <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <center>
                    <p>Copyright &copy; Railson Santos & Jerônimo Gabriel 2015</p>
                    </center>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
